@model Models.UserDetail

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form name="goToHomeForm" action="/Home/Index">
    <div class="admin logintitle">
        <h5 class="title"></h5>
        <span title="Go Home" class="user-sym glyphicon glyphicon-home" onclick="goToHome()"></span></div>
</form>

<script>
    var goToHome = function () {
        document.goToHomeForm.submit();
    }

    $(document).ready(function () {
        var errorMessage = "@Model.errorMsg";
        if (errorMessage !== "") {
            $('.message').show().delay(5000).fadeOut();
            $('.message').text(errorMessage);
        }
        else {
            $('.message').hide();
        }
        
    });
   

</script>
<div class="col-xs-12 login-box register-box">
    <div class="box-title">Forget Password</div>
    <div class="message alert alert-info"></div>
    <div class="box-detail">
        <form method="post" action="/Home/RetreiveSecQues">
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Username</span></div>
                <div class="col-xs-8">
                    <input type="text" class="value" name="username" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-6">
                    <input type="reset" value="Reset" class="btn btn-sm btn-primary" /></div>
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-sm btn-primary pull-right" /></div>
            </div>
        </form>
        <hr />
        <form method="post" action="/Home/SetPassword">
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Security Question</span></div>
                <div class="col-xs-8">
                    <span class="value">@Model.securityQues</span></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Answer</span></div>
                <div class="col-xs-8">
                    <input type="password" class="value" name="securityAns" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Password</span></div>
                <div class="col-xs-8">
                    <input type="password" class="value" name="password" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Confirm Password</span></div>
                <div class="col-xs-8">
                    <input type="password" class="value" name="confirmPassword" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-6">
                    <input type="reset" value="Reset" class="btn btn-sm btn-primary" /></div>
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-sm btn-primary pull-right" /></div>
            </div>
        </form>
    </div>
</div>
