@model Models.UserDetail
@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form name="logOutForm" action="/Home/LogOut"><div class="admin logintitle"><h5 class="title">Welcome  @Convert.ToString(System.Web.HttpContext.Current.Session["name"])</h5><span title="Log Out" class="user-sym glyphicon glyphicon-user" onclick="logOut()" ></span></div></form>
<script>
    window.history.forward();
    $(document).ready(function () {
        var errorMessage = "@Model.errorMsg";
        if (errorMessage !== "") {
            $('.message').show().delay(5000).fadeOut();
            $('.message').text(errorMessage);
        }
        else {
            $('.message').hide();
        }

        $('.success-err-msg').hide();
        $('.success-err-msg-delete').hide();

        //check which view to render
        var viewName = "@TempData["viewName"]";
        if (viewName == 'searchFlight') {
            changeTheView('searchFlight');
        }
        else if (viewName == 'viewTicket') {
            changeTheView('viewTicket');
        }
        else {
            changeTheView('updateInfo');
        }
        
    });
    
    var logOut = function () {
        document.logOutForm.submit();
    }
        var changeTheView = function (view) {
            $('.action-div').hide();
            $('.menu').removeClass('active');
            switch (view) {
                case 'searchFlight': $('.search-flight-div').show();
                    $('#searchFlight').addClass('active');
                    break;
                case 'viewTicket': $('.view-ticket-div').show();
                    $('#viewTicket').addClass('active');
                    fetchAllFlight('Delete');
                    break;
                case 'updateInfo': $('.update-info-div').show();
                    $('#updateInfo').addClass('active');
                    fetchUserDetail();
                    break;
            }
        };


        
        var fetchUserDetail = function () {
            var userID = "@Convert.ToString(System.Web.HttpContext.Current.Session["userID"])";
            var dataToSend = {};
            dataToSend.userID = userID;

            $.ajax({
                type: "GET",
                url: "/Home/GetUserInfo?userID="+userID,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response) {
                        var updateForm = $('#udpateForm');
                        updateForm.find('[name=username]').val(response.username);
                        updateForm.find('[name=password]').val(response.password);
                        updateForm.find('[name=confirmPassword]').val(response.confirmPassword);
                        updateForm.find('[name=personName]').val(response.personName);
                        updateForm.find('[name=contactNumber]').val(response.contactNumber);
                        updateForm.find('[name=address]').val(response.address);
                    }
                    else {
                        $('.success-error-msg-update').show().delay(5000).fadeOut();
                        $('.success-error-msg-update').text('Due to some technical issues, User details cannot be fetched.');
                        $('.success-error-msg-update').css('background-color', '#7E3817'); //red #7E3817 //green #667C26
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    console.log(xhr.responseText);
                }
            });
        }
</script>

<div class="row menu-box">
    <div class="navigation">
        <div class="menu active" id="updateInfo" onclick="changeTheView('updateInfo')"><span class="glyphicon glyphicon-pencil">&nbsp;</span><span class="title" >Update Info</span></div>
        <div class="menu" id="searchFlight"  onclick="changeTheView('searchFlight')"><span class="glyphicon glyphicon-search">&nbsp;</span><span class="title">Search Flight</span></div>
        <div class="menu" id="viewTicket" onclick="changeTheView('viewTicket')"><span class="glyphicon glyphicon-cog">&nbsp;</span><span class="title" >Manage Booking</span></div>
    </div>
</div>

<div class="row action-template">
    <div class="search-flight-div action-div">
        <div class="alert alert-info success-err-msg"></div>
        <div class="flight-detail">
            <div class="col-xs-12 login-box">
                <div class="box-title">Flight Search</div>
                <div class="box-detail">
                    <form method="post" action="/Home/SearchFlight">
                        <div class="col-xs-12 login-row">
                            <div class="col-xs-4"><span class="app-label">From</span></div>
                            <div class="col-xs-8">
                                <input type="text" class="value" name="from" />
                            </div>
                        </div>
                        <div class="col-xs-12 login-row">
                            <div class="col-xs-4"><span class="app-label">To</span></div>
                            <div class="col-xs-8">
                                <input type="text" class="value" name="to" />
                            </div>
                        </div>
                        <div class="col-xs-12 login-row">
                            <div class="col-xs-6">
                                <div class="app-label">Departure</div>
                                <div class="value">
                                    <input type="date" style="width: 140px; margin-left: -20px;" name="departdate" /></div>
                            </div>
                            <div class="col-xs-6">
                                <div class="app-label">Return</div>
                                <div class="value">
                                    <input type="date" style="width: 140px; margin-left: -10px;" name="returndate" /></div>
                            </div>
                        </div>
                        <div class="col-xs-12 login-row">
                            <div class="col-xs-6">
                                <input type="reset" value="Reset" class="btn btn-sm btn-primary" />
                            </div>
                            <div class="col-xs-6">
                                <input type="submit" class="btn btn-sm btn-primary pull-right" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row view-ticket-div action-div">
        <div class="alert alert-info success-err-msg-delete"></div>
        <div class="flight-list-div">
            
        </div>
    </div>
    <div class="row update-info-div action-div">
        <div class="col-xs-12 login-box register-box">
    <div class="box-title">Update Info</div>
    <div class="message alert alert-info success-error-msg-update"></div>
    <div class="box-detail">
        <form method="post" id="udpateForm" action="/Home/UpdateUserDetail">
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Username</span></div>
                <div class="col-xs-8">
                    <input type="text" class="value" readonly="true" name="username" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Password</span></div>
                <div class="col-xs-8">
                    <input type="password" class="value" name="password" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Confirm Password</span></div>
                <div class="col-xs-8">
                    <input type="password" class="value" name="confirmPassword" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Name</span></div>
                <div class="col-xs-8">
                    <input type="text" class="value" name="personName" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Contact No.</span></div>
                <div class="col-xs-8">
                    <input type="text" class="value" name="contactNumber" /></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-4"><span class="app-label">Address</span></div>
                <div class="col-xs-8">
                    <textarea name="address" class="value"  maxlength="150"></textarea></div>
            </div>
            <div class="col-xs-12 login-row">
                <div class="col-xs-6">
                    <input type="reset" value="Reset" class="btn btn-sm btn-primary" /></div>
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-sm btn-primary pull-right" /></div>
            </div>
        </form>
    </div>
</div>
    </div>
</div>
