.row {
    margin: 0 !important;
}

html {
    background-color: #A4D3EE;
}

body
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
     background-color: #A4D3EE;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.login-box {
    width: 500px;
}

    .login-box .app-label {
    }

.flight-list-div {
    margin-left: 250px;
    width: 700px;
}
.flight-div {
    width: 700px;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 10px;
    background-color: #E0EEEE;
    padding: 10px;
}
.flight-div .detail {
    display: inline-block;
    margin-right: 35px;
}

    .flight-div .detail .label {
        font-size: 12px;
    color: #000;
    font-weight: 100;
    }
    .flight-div .detail .value {
        float: right;
        font-weight: 700;
    }

.flight-list-div .delete-icon{
    float: right;
    cursor: pointer;
}
.menu-box {
    margin: 20px;
}

.menu-box .menu{
    width: 200px;
    height: 50px;
    box-shadow: 2px 2px 2px #888888;
    background-color: #63D1F4;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    margin-right: 100px;
    cursor: pointer;
}
    .menu-box .navigation {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .menu-box .menu:hover {
        background-color: #0EBFE9;
    }

    .menu-box .menu.active {
        background-color: #7B68EE;
        cursor: default;
    }

.admin.logintitle {
    float: right;
    color:white;
}
.admin .title {
    display: inline-block;
    margin: 10px;
}
.admin .user-sym {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background: blue;
    padding: 6px;
    text-align: center;
    margin: 20px;
    margin-left: 0;
    cursor: pointer;
}

.add-flight-div.action-div {
    display: block;
    width: 1000px;
    margin-left: 150px;
        margin-bottom: 50px;
    font-size: 13px;
    /* margin-bottom: 20px; */
    padding: 20px;
    box-shadow: 2px 2px 2px #888888;
    background-color: #E0EEEE;
}

    .add-flight-div.action-div .flight-detail {
        margin-bottom: 30px;
    display: inline-block;
    }

    .add-flight-div.action-div .button-grp > div {
        margin-bottom: 10px;
        margin-left: 15px;
    }
.add-flight-div.action-div .button-grp > div > button {
    width: 115px;
}

.flight-leg-div .button-remove {
    padding-top: 20px;
    margin-left: 10px;
}

.alert.alert-info {
padding: 5px;
    color: white;
    background-color: #800517;
}
    .alert.alert-info.success-err-msg-delete {
        width: 700px;
        margin-left: 250px;
    }