@model Models.AdminDetail
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        var errorMessage = "@Model.errorMsg";
        if (errorMessage !== "") {
            $('.message').show().delay(5000).fadeOut();
            $('.message').text(errorMessage);
        }
        else {
            $('.message').hide();
        }
        
    });
   

</script>
<div class="col-xs-12 login-box">
    <div class="box-title">Admin Login</div>
    <div class="message alert alert-info"></div>
    <div class="box-detail">
        <form method="post" action="/Admin/ValidateAdmin">
        <div class="col-xs-12 login-row">
            <div class="col-xs-4"><span class="app-label">Username</span></div>
            <div class="col-xs-8"><input type="text" class="value" name="username"/></div>
        </div>
        <div class="col-xs-12 login-row">
            <div class="col-xs-4"><span class="app-label">Password</span></div>
            <div class="col-xs-8"><input type="password" class="value" name="password"/></div>
        </div>
        <div class="col-xs-12 login-row">
            <div class="col-xs-6"><input type="reset" value="Reset" class="btn btn-sm btn-primary" /></div>
            <div class="col-xs-6"><input type="submit" class="btn btn-sm btn-primary pull-right" /></div>
        </div>
            </form>
    </div>
</div>
<script type="text/javascript">
        window.history.forward();
</script>