@model Models.AdminDetail
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 login-box">
    <div class="row box-title">Admin Login</div>
    <div class="row box-detail">
        <form method="post" action="/Admin/ValidateAdmin">
            <div class="col-xs-12"><span class="alert alert-danger">@Model.errorMsg</span></div>
        <div class="col-xs-12">
            <div class="col-xs-4"><span class="app-label">Username</span></div>
            <div class="col-xs-8"><input type="text" class="value" name="username"/></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-4"><span class="app-label">Password</span></div>
            <div class="col-xs-8"><input type="password" class="value" name="password"/></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6"><input type="reset" value="Reset" class="btn btn-sm btn-primary" /></div>
            <div class="col-xs-6"><input type="submit" class="btn btn-sm btn-primary" /></div>
        </div>
            </form>
    </div>
</div>
